@import "../../global.scss";

.portfolio {
  width: 100%;
  margin-top: 20px;
  position: relative;

  h1 {
    font-size: 40px;
    text-align: center;
    @include mobile {
      font-size: 35px;
    }

    @include mobile320 {
      font-size: 30px;
    }
  }

  ul {
    list-style: none;
    display: flex;
    margin: 25px 0;
    width: 50%;
    justify-content: space-between;
  }

  .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    @include mobile {
      width: 100%;
    }

    .item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px 20px;
      border-radius: 15px;
      transition: all 0.5s ease;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      cursor: pointer;

      @include mobile {
        margin: 5px 10px;
      }

      span {
        position: absolute;
        font-weight: 600;
        font-size: 20px;
        color: white;
        z-index: 0;
        text-align: center;

        @include mobile {
          font-size: 10px;
        }
      }

      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 15px;
        object-fit: cover;
        z-index: 1;

        @include mobile {
          width: 70px;
          height: 70px;
        }

        @include mobile320 {
          width: 50px;
          height: 50px;
        }
      }

      &:hover {
        background-color: black;
        transition: all 0.45s ease;

        img {
          z-index: 0;
          opacity: 0.2;
          transition: all 0.3s ease;
          object-fit: cover;
        }

        span {
          z-index: 2;
        }
      }
    }
  }
}
