@import "./global.scss";

* {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    overflow-x: hidden;
}

.app {
    height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}
